/*style hero image*/
.hero-image {
  background-image: linear-gradient(rgba(97, 44, 44, 0.15), rgba(0, 0, 0, 0.15)), url("images/bg/orange-pattern-background.jpg");
  height: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
  /*adding in fade effect*/
  animation: fade 2s;
}

/*header for about us */
.header2 {
  background-color:#FEF9E7;
  text-align: center;
  color: #AF601A;
  font-family:garamond;
  padding: 20px 6px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 20px;
  font-size: 35px;
}

/*about us paragraph*/
p1 {
  font-family: garamond;
  font-size: 30px;
  text-align:center;
  color:#AF601A;
  background-color:#FEF9E7;
  line-height:2;
}