/* header for the main title and slogan*/
.header{
    background-color:#FEF9E7;
    color:#AF601A;
    padding-top:70px;
    padding-bottom:10px;
    font-size:20px;
}

/*text inputs*/
input[type=text], select 
{
    width: 50%;
    margin: 25px 0;
    padding: 15px 23px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px; /*rounds edges*/
    box-sizing: border-box;
    background-color:#FEF9E7;
    font-size:20px;
    color:#AF601A; 
    font-family:garamond;
}

/*to focus on the text input*/
input[type=text]:focus {
    background-color: white;
  }
  
/*submit button at the bottom of the edit profile page*/
  input[type=submit] 
{
    padding: 14px 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 4px;
    border:none;
    display: inline-block;
    color: #196F3D;
    background-color: #F9E79F;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    width: 200px; 
    height: 50px;
    font-family:garamond;
  }

/*style the label text */
label 
{
    font-size: 20px;
    font-weight: bold;
}

/*the entire form itself*/
form{
    padding-left:450px;
    background-color:#FEF9E7;
    color:#AF601A;
}

/* For the flash messages */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 50px;
    width:40%;
    font-size:20px;
    margin-left: 20px;
    text-align: center;
  }