/*style to image*/
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("images/bg/1.jpg");
  height: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*The entire polaroid- picture + text*/
/*polaroid on the left*/
.polaroidleft {
  width:32%;
  background-color: #F9E79F;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2%;
  float:left;
  margin-left:165px;
  margin-top:2%;
  position: relative;
}

/*image*/
img {
  width: 30%;
  height: 30%;
}

/*The container with the text*/
.textcontainer {
  padding: 35px 10px;
  font-family:garamond;
  color:#7B241C;
  font-size:19px;
  float:right;
  display:block;
}

.unlike{
  position:absolute;
  opacity:0.5;
  transition:0.3s;
  cursor:pointer;
  text-decoration:none;
  right:1%;
  bottom:-6.5%;
}

.unlike:hover{
  opacity:1;
  cursor:pointer;
}

/*this gives us the ids that would be the target*/
/*as a result, ids with unlike are the target; it won't respond to other id names*/
[id^=unlike] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}
[id^=unlike]:target {
  display: block;
}

.popup {
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.popupoverlay {
  position: fixed;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: none;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.popupunlike {
  position: fixed;
  z-index: 9;
  width: 50%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  border-radius: 8px;
  padding: 58px 32px 32px 32px;
  color: #F9E79F;
  background-color: #C0392B;
  font-size:20px;
  padding:20px;
  text-align:center;
}

.close {
  position: absolute;
  top: 16px;
  right: 26px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-decoration:none;
}

.close:hover{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input[type=submit] {
  font-family: garammond;
  color: #C0392B;
  padding: 5px 5px;
  border-radius: 4px;
  background-color: #F9E79F;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  width: 10%;
}

option, select {
  visibility: hidden;
  font-family: garammond;
  color: #C0392B;
  padding: 5px 5px;
  border-radius: 4px;
  background-color: #F9E79F;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
}