/* header for the main title and slogan*/
.header{
  background-color:#F8C471;
  text-align: center;
  color: white;
  padding-top:54px;
  padding-bottom:0.5px;
  font-size: 60px;
}
  
/*subheadings for menu categories*/
.header2 {
  text-align:left;
  font-size: 20px;
  background-color:#F8C471;
  color:#7B241C;
  padding-top:50px;
}

/*style table*/
table {
  font-family: garamond;
  width: 70%;
  border-collapse:collapse;
  border: 1px solid black;
  margin-left:220px;
  color:#7B241C;
  background-color:#FEF5E7;
}

/*style texts inside the table*/
table, th, td {
  padding: 10px 20px;
}

/*style to image except we aren't using an image*/
/*background of the recommendations button as well as our footer*/
.hero-image {
  background-color:#F8C471 ;
  height: 65%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


  